<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Online travel agency|B2B Travel Portal |Flight , Hotel Tickets</title>
    
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" />
    <link href="/assets/css/global.css" rel="stylesheet" />
    <link href="/assets/css/destyle.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap.css" rel="stylesheet" />
    <link href="/assets/css/ValidationEngine.css" rel="stylesheet" />
    <link href="/assets/css/lightslider.css" rel="stylesheet" />
    <script src="~/assets/js/jquery-1.11.2.min.js"></script>
    <script src="~/assets/js/jqueryui1.js"></script>
    <script src="~/assets/js/jqueryui2.js"></script>
    <script src="~/assets/js/bootstrap.js" type="text/javascript"></script>

    <script src="~/assets/js/slick.js"></script>
</head>
<body>
    @await Html.PartialAsync("Partials/Shared/_Header.cshtml")

    @RenderBody()

    @await Html.PartialAsync("Partials/Shared/_Footer.cshtml")
    
   
</body>
</html>
