<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <title>Print Ticket</title>
    <style type="text/css">
        .btnics {
            background: none;
            border: none;
            text-decoration: underline;
            font-size: 15px;
            color: blue;
            width: 139px;
        }
    </style>

</head>
<body>
    
    @RenderBody()
    <script src="/assets/js/printTicket.js"></script>
</body>
</html>
