@{
    Layout = "~/Views/Master.cshtml";
    ViewBag.Title = "Disclaimer";
}
@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<link href="/assets/css/staticpage.css" rel="stylesheet" />
<div class="container-fluid offset-0">
    <div class="col-md-12 col-sm-12 col-xs-12 offset-0 " style="background:#ececec;">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <div class="about-content" style="background: #fff">
                <div class="content-wrapper">
                    <header class="page-lbl fly-in appeared">
                        <div class="headcls">
                            <h2>Legal Disclaimer</h2>
                        </div>
                    </header>
                    <div class="tree-colls fly-in appeared m-top-40">
                        <div class="four-colls-i about-text">
                            <p>
                                <strong style="color: #16355c;">Breach of confidentiality &amp; accidental breach of confidentiality</strong><br>
                                This email and any files transmitted with it are confidential and intended solely for the use of the individual or entity to whom they are addressed. If you have received this email in error please notify the system manager. This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.
                            </p>
                            <div class="four-colls-i about-text">
                                <p>
                                    <strong style="color: #16355c;"> Transmission of viruses </strong><br>
                                    WARNING: Computer viruses can be transmitted via email. The recipient should check this email and any attachments for the presence of viruses. The company accepts no liability for any damage caused by any virus transmitted by this email. E-mail transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission.
                                    Warning: Although the company has taken reasonable precautions to ensure no viruses are present in this email, the company cannot accept responsibility for any loss or damage arising from the use of this email or attachments.

                                </p>
                                <div class="four-colls-i about-text">
                                    <p>
                                        <strong style="color: #16355c;">Negligent misstatement</strong><br>
                                        Our company accepts no liability for the content of this email, or for the consequences of any actions taken on the basis of the information provided, unless that information is subsequently confirmed in writing. If you are not the intended recipient you are notified that disclosing, copying, distributing or taking any action in reliance on the contents of this information is strictly prohibited.

                                    </p>

                                    <div class="four-colls-i about-text">
                                        <p>
                                            <strong style="color: #16355c;">Employer's liability</strong><br>
                                            Any views or opinions presented in this email are solely those of the author and do not necessarily represent those of the company. Employees of [Company] are expressly required not to make defamatory statements and not to infringe or authorize any infringement of copyright or any other legal right by email communications. Any such communication is contrary to company policy and outside the scope of the employment of the individual concerned. The company will not accept any liability in respect of such communication, and the employee responsible will be personally liable for any damages or other liability arising
                                        </p>
                                        <div class="four-colls-i about-text">
                                            <p>
                                                <strong style="color: #16355c;">Complete disclaimers</strong><br>
                                                This message contains confidential information and is intended only for the individual named. If you are not the named addressee you should not disseminate, distribute or copy this e-mail. Please notify the sender immediately by e-mail if you have received this e-mail by mistake and delete this e-mail from your system. E-mail transmission cannot be guaranteed to be secure or error-free as information could be intercepted, corrupted, lost, destroyed, arrive late or incomplete, or contain viruses. The sender therefore does not accept liability for any errors or omissions in the contents of this message, which arise as a result of e-mail transmission. If verification is required please request a hard-copy version. @Configuration["Company:Name"]. address-@Configuration["Company:Address"] @Configuration["Company:Website"]
                                            </p>

                                        </div>
                                        <div class="clear"></div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>