.about-content {
    font-family: 'arial';
    margin-top: 5%;
    background: #fff;
    padding: 28px;
}

.about-content .page-lbl p {
    font-size: 15px;
    color: #000;
}

.about-content .page-lbl {
    margin-bottom: 10px;
}

.mp-popular header,
header.page-lbl {
    text-align: center;
    margin-bottom: 31px;
}

.about-text {
    margin-bottom: 39px;
}


.about-text p {
    font-size: 14px;
    line-height: 24px;
    color: #000;
}

.about-text p {
    line-height: 25px;
    letter-spacing: 1px;
}

.content-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

.m-top-40 {
    margin-top: 40px;
}

@media screen and (max-width: 1130px) {

    .wrapper-padding,
    .offer-slider-c,
    .offer-slider header,
    .mp-popular,
    .partners,
    .testimonials,
    .inner-breadcrumbs .content-wrapper,
    .about-content .content-wrapper,
    .why-we .content-wrapper,
    .about-slider-h,
    .blog-page,
    .contacts-page,
    .typography .content-wrapper,
    .inner-page .content-wrapper,
    .portfolio-holder {
        padding-left: 60px;
        padding-right: 60px;
    }
}