input[type="radio"] {
    margin-right: 7px !important;
}

.note-msg  {
    margin-top: 10px;
}
.main-wrapper {
    margin-bottom: 100px;
    padding-bottom: 150px; 
}

.reportminheader {
    display: flex;
    align-items: center;
    color: #1e5370;
    font-family: math !important;
    font-size: 24px;
    font-weight: 600;
    margin: 0;
}

.pass-icon {
    margin-right: 20px;
    padding-top: 10px;
}

.text-danger, strong span {
    color: rgb(251, 18, 18);
}
.content-wrp {
    width: 1200px;
    background-color: #ffffffff;
    box-shadow: 0 0 8px 0 rgba(5, 47, 95, .06), 0 12px 64px 0 rgba(52, 105, 203, 0.07);
}
.mdpadd {
    display: flex;
    justify-content: center;
    margin-top: 2px;
}
.wrp-border {
    border-left: 1px solid #1e5370;
}
table#ContentPlaceHolder1_radiopaymentmode td label {
    font-size: 15px !important; 
    margin-bottom: -2px;
}

@media (max-width: 1290px) {
    .content-wrp  {
        width: 100%;
    }
}
@media only screen and (max-width: 680px) {
    .rechmobpadin {
        text-align: left !important;
    }

    .mdpadd {
        padding: 0;
    }

    table#ContentPlaceHolder1_radiopaymentmode td label {
        font-size: 12px !important;
    }

    strong {
        text-align: left;
    }

    .main-wrapper {
        padding-bottom: 150px;
    }
}

table#ContentPlaceHolder1_radiobntoffline td label {
    font-size: 14px !important;
    font-weight: 100;
}

textarea {
    border: 1px solid #d2d6de;
}

b, strong {
    float: left;
    width: 100%;
}

.padding-b0 {
    padding-bottom: 0 !important;
}

.headonline {
    background: #009688;
    border: 1px solid #4CAF50;
    padding: 9px;
    margin-bottom: 0;
    border-bottom: 0;
    color: #fff;
    font-size: 16px;
}

table#rbl_gateway {
    width: 100%;
}

table#ContentPlaceHolder1_rbl_gateway td {
    border: 1px solid #009688;
    text-align: left;
    padding: 13px;
}

.mytablesurc {
    width: 100%;
}

.main-header .navbar {
    background: #fff;
}
.alert {
   padding: unset; 
   margin-bottom: unset;
   color: unset;
   background-color: unset;
   border-color: unset;
   border: unset;
   display: flex;
   align-items: center;
}
.alert strong {
    margin-right: 15px;
    text-align: left;
}
.alert-success strong {
    color: #4CAF50;
}
.alert-danger strong {
    margin-right: 30px;
    color: rgb(251, 18, 18);
}
@media (min-width: 993px) {
    .note-msg {
        text-align: center;
    }
    .success-msg {
        text-align: center;
        position: relative;
        margin-left: 115px;
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
}
@media (max-width: 992px) {
    .note-msg {
        padding-left: 30px;
    }
    .rechmobpadin {
        text-align: left !important;
    }
}
