 .header {
     height: 100%;
 }

 .control-group {
     height: 100% !important;
     margin: 0px !important;
     padding: 0px !important;
 }

 .popupboxcreden {
     background: #fff;
     box-shadow: 0px 2px #0000001a;
     border-radius: 2px;
 }

 .crossdiv {
     text-align: right;
     color: #f91111;
     margin-top: -8px;
     font-weight: normal;
     cursor: pointer;
 }

 .modalBackground {
     background-color: Gray;
     filter: alpha(opacity=70);
     opacity: 0.7;
 }

 table td {
     padding: 8px;
 }

 .minii {
     float: left;
 }

 body {
     font-size: 12px !important;
 }

 .form-control {
     font-size: 12px !important;
 }

 .container-fluid {
     padding: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
 }

 div.tab {
     overflow: hidden;
     border: 1px solid #ccc;
     border-bottom: 0px solid;
 }

 /* Style the buttons inside the tab */
 div.tab button {
     background-color: inherit;
     float: left;
     border: none;
     background: #00a5a5;
     color: #fff;
     outline: none;
     cursor: pointer;
     padding: 8px 16px;
     transition: 0.3s;
     font-size: 12px;
 }

 /* Change background color of buttons on hover */
 div.tab button:hover {
     background-color: #ddd;
 }

 /* Create an active/current tablink class */
 div.tab button.active {
     background-color: #f2f2f2;
     border-top: 1px solid #c7c7c7;
     border-bottom: 0px;
     color: #000;
 }

 /* Style the tab content */
 .error {
     border: 1px solid red !important;
 }

 .pophdi {
     text-align: center;
     color: #fff;
     font-size: 12px;
     margin-top: 5px;
     margin-bottom: 6px;
 }

 table a {
     color: #374579 !important;
     cursor: pointer;
     text-decoration: underline !important;
 }

 table {
     margin: 0px;
 }

 .UAPIFOP {
    background-color: gray;
 }
