  .hg {
        background: rgba(246,246,246,1);
        background: -moz-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(224,224,224,1) 100%);
        background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,246,246,1)), color-stop(100%, rgba(224,224,224,1)));
        background: -webkit-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(224,224,224,1) 100%);
        background: -o-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(224,224,224,1) 100%);
        background: -ms-linear-gradient(top, rgba(246,246,246,1) 0%, rgba(224,224,224,1) 100%);
        background: linear-gradient(to bottom, rgba(246,246,246,1) 0%, rgba(224,224,224,1) 100%);
    }

    .btn {
        font-size: 12px !important;
    }

    body {
        font-size: 12px !important;
    }

    .form-control {
        font-size: 12px !important;
    }

    .border-div {
        border: 1px solid #ccc;
    }

    .mn-div-topic {
        background: #1A3A93;
        color: #fff;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .head-cls {
        background: #1A3A93;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #fff;
    }

    .brdr-lft {
        border-left: 1px solid #ccc;
    }

    .offset-0 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .m-top-10 {
        margin-top: 10px;
    }

    .m-top-20 {
        margin-top: 20px;
    }

    .btn-add {
        background: #1A3A93;
        color: #fff;
        height: 40px;
        width: 140px;
    }

        .btn-add:hover {
            color: #fff;
        }

    .btn-add1 {
        background: #1A3A93;
        color: #fff;
        height: 40px;
        width: 80px;
    }

        .btn-add1:hover {
            color: #fff;
        }

    .brdr-cls {
        border: 1px solid #ccc;
    }

    .pdng-btm {
        padding-bottom: 10px;
    }

    .prduct-cls {
        margin-top: -12px;
        background: #fff;
        width: 190px !important;
    }

    .cls-prty {
        background: #f1f1f1;
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid #ccc;
    }

    .cls-prty1 {
        padding-bottom: 5px;
        padding-top: 5px;
        border-bottom: 1px solid #ccc;
    }

    h4 {
        margin-top: 0px;
    }

    .modal {
        display: none;
        position: fixed;
        z-index: 1;
        padding-top: 100px;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0,0.5);
    }

    .modal-content1 {
        background-color: #fefefe;
        border: 1px solid #888;
        width: 30% !important;
        margin: 5% auto auto 35% !important;
        border-radius: 5px;
    }

    .close {
        color: #4A90E2;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

        .close:hover, .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }

    .form-control {
        box-shadow: none !important;
        padding-top: 6px !important;
        height: auto !important;
    }

        .form-control:focus {
            box-shadow: none !important;
        }

    .txt_blue {
        cursor: pointer;
    }

    .pdng-btm-10 {
        padding-bottom: 10px;
    }

    .fare-rule-txt {
        background: #f1f1f1;
        padding-top: 5px;
        padding-bottom: 5px;
        font-weight: bold;
        font-size: 15px;
    }

    .drop-txt {
        width: 200px;
        background: #fff;
        height: auto !important;
        line-height: 19px !important;
        padding-left: 11px !important;
        padding-top: 5px !important;
    }

    .pretty {
        position: relative;
        display: inline-block;
        margin-right: 1em;
        white-space: nowrap;
        line-height: 1;
    }

    /* media only screen and (max-width: 680px) {
        .mobwidthmse

    {
        width: 100%;
    }
    

    .paddzr {
        padding-left: 0px;
        padding-right: 0px;
    }

    .newlefd {
        padding-left: 0px;
    }

    .modal-content1 {
        background-color: #fefefe;
        border: 1px solid #888;
        width: 100% !important;
        margin: 0% auto auto 0% !important;
        border-radius: 5px;
    }

    } */

    .loger {
        color: rgb(169, 68, 66) !important;
        position: absolute;
        margin-left: 32%;
        margin-top: -1%;
        font-size: 12px;
        z-index: 6;
    }

    .boxshdr {
        box-shadow: 0 0 8px 0 rgba(5,47,95,.06), 0 12px 64px 0 rgba(52, 105, 203, 0.07);
        border-radius: 4px;
        background: #fff;
    }
.sidebar-menu{
box-shadow: 0px 0px 3px #00000073;
}