    nav {
        display: block;
        background: #fff;
        text-align: right;
        /*font-family: 'Poppins', sans-serif !important;*/
        font-family: math !important;
        margin-top: 9px;
    }

    .goog-te-gadget .goog-te-combo {
        margin: 2px 34px;
        height: 25px;
        width: 147px;
        padding: 0;
    }
    .goog-logo-link{
        display:none;
    }
    .goog-te-gadget {
            height: 29px !important; 
    overflow: hidden !important;
    }
     
    .boxshdr {
        box-shadow: 0 0 8px 0 rgba(5, 47, 95, .06), 0 12px 64px 0 rgba(52, 105, 203, 0.07);
        border-radius: 4px;
        background: #fff;
    }

    .detail-container {
        padding: 0 !important;
    }
    #companydetaildiv {
        margin-top: 5px;

    }
    .menu {
        display: block; white-space:pre
    }

        .menu li {
            display: inline-block;
            position: relative;
            z-index: 100;
        }

            .menu li:first-child {
                margin-left: 0;
            }
            #resp-menu{
                border-bottom: 0px solid #ccc;
            }
            .menu li a {
                font-weight: 600;
                text-decoration: none;
                padding: 6px 16px;
                display: block;
                color: #000;
                font-size: 15px;
                transition: all 0.2s ease-in-out 0s;
                border-bottom: 1px solid #ccc;
            }

                .menu li a:hover, .menu li:hover > a {
                    color: #0078c3;
                    background: #fff;
                }

        .menu ul {
            visibility: hidden;
            opacity: 0;
            margin: 0;
            padding: 0;
            width: 258px;
            right:0;
            position: absolute;
            left: auto;
            background: #fff;
            z-index: 99;
            transform: translate(0,20px);
            transition: all 0.2s ease-out;
        }

            .menu ul:after {
                bottom: 100%;
                right: 20%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-bottom-color: #04c;
                border-width: 6px;
                margin-left: -6px;
            }

            .menu ul li {
                display: block;
                float: none;
                background: none;
                margin: 0;
                padding: 0;
            }

                .menu ul li a {
                    font-size: 14px;
                    font-weight: normal;
                    display: block;
                    color: #797979;
                    background: #fff;
                    text-align:left;
                }

                    .menu ul li a:hover, .menu ul li:hover > a {
                        background: #fff;
                        color: #0078c3;
                        background: #e9edf5;
    text-decoration: underline;
                    }

        .menu li:hover > ul {
            visibility: visible;
            opacity: 1;
            transform: translate(0,0);
            text-align: center;
            box-shadow: 0 0 8px 0 rgba(5,47,95,.06), 0 12px 64px 0 rgba(52,105,203,.16);
        }

        .menu ul ul {
            left: -267px;
            top: 0px;
            visibility: hidden;
            opacity: 0;
            transform: translate(20px,20px);
            transition: all 0.2s ease-out;
        }

            .menu ul ul:after {
                left: 260px;
                top: 10%;
                border: solid transparent;
                content: " ";
                height: 0;
                width: 0;
                position: absolute;
                pointer-events: none;
                border-color: rgba(255, 255, 255, 0);
                border-right-color: #04c;
                border-width: 6px;
                margin-top: -6px;
            }

        .menu li > ul ul:hover {
            visibility: visible;
            opacity: 1;
            transform: translate(0,0);
        }

    .responsive-menu {
        display: none;
        width: 100%;
        padding: 20px 15px;
        background: #374147;
        color: #fff;
        text-transform: uppercase;
        font-weight: 600;
    }

        .responsive-menu:hover {
            background: #374147;
            color: #fff;
            text-decoration: none;
        }

    a.homer {
        background: #9ca3da;
    }

    @media (min-width: 768px) and (max-width: 979px) {
  
        
        .mainWrap {
            width: 768px;
        }

        .menu ul {
            top: 37px;
        }

        .menu li a {
            font-size: 12px;
        }

        a.homer {
            background: #374147;
        }
    }

    @media (max-width: 767px) {
        .mainWrap {
            width: auto;
            padding: 50px 20px;
        }

        /*.menu {
            display: none;
        }*/

        .responsive-menu {
            display: none;
        }

        nav {
            margin: 0;
            background: none;
        }

        .menu li {
            display: block;
            margin: 0;
        }

            .menu li a {
                background: #fff;
                color: #797979;
            }

                .menu li a:hover, .menu li:hover > a {
                    background: #9ca3da;
                    color: #fff;
                }

        .menu ul {
            visibility: hidden;
            opacity: 0;
            top: 0;
            left: 0;
            width: 100%;
            transform: initial;
        }

        .menu li:hover > ul {
            visibility: visible;
            opacity: 1;
            position: relative;
            transform: initial;

            top: 124%;
            left: 0%;
            width: 312px;
        }


        .menu ul:after{
            left: 75%;
        }

        .menu ul ul {
                left: 0% !important;
            transform: initial;
        }
            .menu ul ul li a {
                background: #0d82d9;
                color: #fff;
                border-bottom: 1px solid #ccc;
            }
            .menu ul ul:after{
                display:none;
            }
            .menu li a{
                    padding: 10px 10px;
            }

        .menu li > ul ul:hover {
            transform: initial;
        }
		


    }

    @media only screen and (max-width: 680px) {
        .prefer_left {
            width: 100% !important;
        }
        .prefer_right {
            width: 100% !important;
            margin-top: 15px !important;
        }
    }
    @media (max-width: 480px) {
    }

    @media (max-width: 320px) {
    }

    label {
        font-size: 13px !important;
        margin-left: 0px;
    }

    .width_49 {
        width: 49%;
    }

    .account_setingbtdiv {
        margin-left: 33%;
    }

    .btn-add {
        width: auto;
    }

    .eg_text {
        font-size: 12px;
    }

    label {
        margin-left: 3px;
    }

    .width_84 {
        width: 83% !important;
    }

    dfn {
        font-style: normal;
        font-weight: 400;
        font-style: normal;
        font-weight: 400;
        background: #f8f8f8;
        border: 1px solid #e8e8e8;
        border-bottom: 0px;
        width: 198px;
        float: left;
    }

    .htd_databox {
        float: left;
        width: 100%;
        padding: 5px;
    }

    .details td, .details, .htd_databox, .htd_formbox {
        border: 1px solid #d1d1d1;
    }

    .prefer_left {
        float: left;
        width: 49.4%;
    }

    .htd_databoxin {
        width: 100%;
        float: left;
    }

    .htd_heading {
        font-weight: bold;
        float: left;
        width: 100%;
        font-size: 14px;
        padding-top: 19px;
    }

    .htd_formbox {
        width: 100%;
        float: left;
        padding: 5px;
    }

    .width_100 {
        width: 100% !important;
    }

    .fleft {
        float: left;
    }

    .htd_frmrow, .account_seting, .passport_set, .eg_text {
        width: 100%;
        float: left;
        padding: 0px 0 !important;
    }

    .width_40 {
        width: 40%;
    }

    span {
        font-size: 12px !important;
    }

    .btn_main {
        border-radius: 3px;
        padding: 8px 10px;
        font-size: 11px;
        font-weight: bold;
        border: none;
        cursor: pointer;
    }

    .btn_main {
        background: #246197 !important;
        color: #fff;
    }

    .htd_databoxin {
        width: 100%;
        float: left;
    }

    .mt {
        margin-top: 10px !important;
    }

    .prefer_right {
        float: right;
        width: 49.4%;
        margin-top: 55px;
    }

    .htd_frmrow, .account_seting, .passport_set, .eg_text {
        width: 100%;
        float: left;
        padding: 7px 0;
    }
