.call-center {
    float: left;
    width: 100%;
    background: #fff;
    padding: 35px 45px;
    min-height: 415px !important;
}

.call-center h3 {
    color: #050505;
    font-size: 20px;
    padding-bottom: 10px;
    margin-bottom: 40px;
    border-bottom: 1px solid #c5c5c5;
}

.padding-none {
    padding: 0 !important;
}

.call-center a {
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.call-center a {
    font-size: 18px;
    font-weight: 600;
    display: block;
}

.call-center a i.fa-phone {
    color: #ed1d24;
    -ms-transform: rotate(90deg);
    font-size: 20px;
}

.call-center p {
    margin-bottom: 40px;
    font-size: 17px;
    color: #000;
}

.call-center a i {
    color: #ed1d24;
    padding-right: 7px;
    position: relative;
    top: 3px;
}

.maised {
    background: #1d5d7f;
    padding: 31px 20px;
}

.shawdq {
    box-shadow: 0 13px 40px -5px #171717;
    padding: 0;
    margin-top: 35px;
}

.shawdq1 {
    box-shadow: 0 13px 40px -5px #171717;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 30px;
}

.form-header h3.question {
    text-align: center;
    font-size: 20px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    border-bottom: 1px solid #4a6d81;
    color: #fff;
}

.form-header h3>span {
    font-size: 14px;
}

.myclsinpt {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 41px;
    background: #1d5d7f00;
    border-bottom: 1px solid #fff !important;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
}

.texclassdc {
    width: 100%;
    background: #144661;
    height: 59px;
    margin-top: 5px;
}

.email-user {
    color: #fff;
}

.myaccountdiv {
    display: none;
}



.contctdtlbox {
    background: #f1f1f133;
    border: 1px solid #ccc;
    padding: 15px !important;
    line-height: 35px;
    box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 40%);
}

.about-content {
    font-family: 'arial';
    margin-top: 5%;
    background: #fff;
    padding: 28px;
}

.offer-slider-lbl {
    font-size: 32px;
    color: #000;
    font-family: arial;
    text-transform: none;
}

.about-text p {
    font-size: 14px;
    line-height: 24px;
    color: #000;
}