/*package desing css start*/
    .cruise-deal-item .cruise-text {
    padding: 13px;
    background-color: #fff;     margin-bottom: 20px;
}.cruise-deal-item .cruise-text .cruise-name a {
    font-size: 17px;
    color: #111;
    font-weight: 700;
    text-decoration: none;
    line-height: 20px;
    font-family: 'Quicksand-Bold', sans-serif;
}

 

.honey2 {
    color: #1D1C1C;
    margin-bottom: 5px;
    font-size: 16px;
    margin-top: 12px;
    font-weight: 600;
}
    .added-index-bt {
    text-align: right;
    position: relative;
    bottom: 0;
    display: none;
}
    .package-name2{
        margin-bottom: 4px;
            margin-bottom: 4px;
    font-weight: 600;color: #000;
    }

.mardeter {
    background: linear-gradient(90deg, #ff2f8b 0%, #9035f9 100%);
    padding: 3px 6px;
    color: #fff;
}

      /*css send link*/
            .effeckt-caption[data-effeckt-type="half-slide"] img {
                border-radius: 5px 5px 0 0;
                height: 148px;
            }
            .oneStar:after,
            .twoStar:after,
            .threeStar:after,
            .fourStar:after,
            .fiveStar:after {
                content: "\f005";
                color: #ffae00;
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }


            .twoStar:after {
                content: "\f005  " "\f005";
            }

            .threeStar:after {
                content: "\f005  " "\f005  " "\f005";
            }

            .fourStar:after {
                content: "\f005  " "\f005  " "\f005  " "\f005";
            }

            .fiveStar:after {
                content: "\f005  " "\f005  " "\f005  " "\f005  " "\f005";
            }

 .col-xs-12.col-sm-6.col-md-3.col-lg-3.mar-bot-15-res.oadjdy{
     margin: 10px;
     width: 23%;
     border-radius: 6px;
     -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
     box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);
 }
 .startmaindiv{
     float: right;
     display: none;
 }

.btn-group-sm > .btn, .btn-sm {
    padding: 8px 17px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 1px;
}
hr {
    margin-top: 15px;
    margin-bottom: 14px;
    border-top: 1px solid #d5d5d5;
}
.margqrt{
    margin-bottom:2.2%;
}

  .bordeleft{
      border-left:1px dotted #000;    
  }

  .borderifh{
      border-right:1px  dotted #000;
  }

.cruise-deal-item .cruise-text .price-box .price.special-price {
    font-size: 23px;
    color: #1E1B1A;
    position: absolute;
    /*font-family: 'Quicksand';*/
    font-weight: 700;
}

.spanlisui {
    color: #717171;
    margin-left: 5px;
    font-size: 11px;
    font-family: "Titillium Web", sans-serif;
    display: none;
}

  .mdydmnedg{
      width:1050px;
     margin:0 auto;

  }
    .oadjdy{
        padding:0px;
    }
  .cruise-deal-item .cruise-img:after {
    display: block;
    content: '';
    height: 0;
    width: 0;
    border: 14px solid transparent;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-bottom-color: #fff;
    display: none;
}
  /*package design css end*/


.effeckt-caption {
  position: relative; }
    .effeckt-caption img {
        /*transition: 500ms; */
        }
    
  .effeckt-caption figcaption
{
    position: absolute; 
    width: 100%;
    display:none;
}
  .effeckt-caption[data-effeckt-type="quarter-appear"] figcaption {
    bottom: 0;
    left: 0;
    opacity: 0; }
  .effeckt-caption[data-effeckt-type="quarter-appear"]:hover figcaption, .effeckt-caption[data-effeckt-type="quarter-appear"]:active figcaption, .effeckt-caption[data-effeckt-type="quarter-appear"].active figcaption {
    opacity: 1; }
  .effeckt-caption[data-effeckt-type="quarter-slide-up"] figcaption {
    bottom: 0;
    left: 0;
    opacity: 0;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%); }
  .effeckt-caption[data-effeckt-type="quarter-slide-up"]:hover figcaption, .effeckt-caption[data-effeckt-type="quarter-slide-up"]:active figcaption, .effeckt-caption[data-effeckt-type="quarter-slide-up"].active figcaption {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }
  .effeckt-caption[data-effeckt-type="sqkwoosh"] figcaption {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: none;
    z-index: 0; }
 
  .effeckt-caption[data-effeckt-type="sqkwoosh"] .effeckt-figcaption-wrap {
    position: absolute;
    bottom: 1rem;
    opacity: 0;
    transition: opacity 0.25s linear 0s; }
  .effeckt-caption[data-effeckt-type="sqkwoosh"]:hover .effeckt-figcaption-wrap, .effeckt-caption[data-effeckt-type="sqkwoosh"]:active .effeckt-figcaption-wrap, .effeckt-caption[data-effeckt-type="sqkwoosh"].active .effeckt-figcaption-wrap {
    opacity: 1;
    transition-delay: 0.25s; }

  .effeckt-caption[data-effeckt-type="quarter-slide-side"] figcaption {
    left: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%); }
  .effeckt-caption[data-effeckt-type="quarter-slide-side"]:hover figcaption, .effeckt-caption[data-effeckt-type="quarter-slide-side"]:active figcaption, .effeckt-caption[data-effeckt-type="quarter-slide-side"].active figcaption {
    opacity: 1;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
			
			
  .effeckt-caption[data-effeckt-type="cover-fade"] figcaption {
    top: 0;
    left: 0;
    height: 100%;
    opacity: 1; }
  .effeckt-caption[data-effeckt-type="cover-fade"]:hover figcaption, .effeckt-caption[data-effeckt-type="cover-fade"]:active figcaption, .effeckt-caption[data-effeckt-type="cover-fade"].active figcaption {
    opacity: 1; }
	
	
  .effeckt-caption[data-effeckt-type="quarter-fall-in"] figcaption {
    top: 0;
    left: 0;
    -webkit-transform: translateX(100%) rotate(20deg);
        -ms-transform: translateX(100%) rotate(20deg);
            transform: translateX(100%) rotate(20deg);
    opacity: 0; }
  .effeckt-caption[data-effeckt-type="quarter-fall-in"]:hover figcaption, .effeckt-caption[data-effeckt-type="quarter-fall-in"]:active figcaption, .effeckt-caption[data-effeckt-type="quarter-fall-in"].active figcaption {
    -webkit-transform: translateX(0) rotate(0deg);
        -ms-transform: translateX(0) rotate(0deg);
            transform: translateX(0) rotate(0deg);
    opacity: 1; }
  .effeckt-caption[data-effeckt-type="quarter-two-step"] figcaption {
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0;
    z-index: 2; }
  .effeckt-caption[data-effeckt-type="quarter-two-step"] .effeckt-figcaption-wrap {
    transition: 500ms 250ms;
    -webkit-transform: translateX(200%);
        -ms-transform: translateX(200%);
            transform: translateX(200%); }
  .effeckt-caption[data-effeckt-type="quarter-two-step"]:hover figcaption, .effeckt-caption[data-effeckt-type="quarter-two-step"]:active figcaption, .effeckt-caption[data-effeckt-type="quarter-two-step"].active figcaption {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  .effeckt-caption[data-effeckt-type="quarter-two-step"]:hover .effeckt-figcaption-wrap, .effeckt-caption[data-effeckt-type="quarter-two-step"]:active .effeckt-figcaption-wrap, .effeckt-caption[data-effeckt-type="quarter-two-step"].active .effeckt-figcaption-wrap {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0); }
  .effeckt-caption[data-effeckt-type="cover-push-right"] figcaption {
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 0; }
 
  .effeckt-caption[data-effeckt-type="cover-push-right"]:hover figcaption, .effeckt-caption[data-effeckt-type="cover-push-right"]:active figcaption, .effeckt-caption[data-effeckt-type="cover-push-right"].active figcaption {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    opacity: 1; }
  
  .effeckt-caption[data-effeckt-type="cover-slide-top"] figcaption {
    top: 0;
    left: 0;
    height: 100%;
    -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
            transform: translateY(-100%);
    opacity: 0; }
  
  .effeckt-caption[data-effeckt-type="cover-slide-top"]:hover figcaption, .effeckt-caption[data-effeckt-type="cover-slide-top"]:active figcaption, .effeckt-caption[data-effeckt-type="cover-slide-top"].active figcaption {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1; }
  .effeckt-caption[data-effeckt-type="quarter-zoom"] figcaption {
    top: 0;
    left: 0;
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
    text-align: center;
    opacity: 0; }
  
  .effeckt-caption[data-effeckt-type="quarter-zoom"]:hover figcaption, .effeckt-caption[data-effeckt-type="quarter-zoom"]:active figcaption, .effeckt-caption[data-effeckt-type="quarter-zoom"].active figcaption {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    opacity: 1; }
 
    .effeckt-caption[data-effeckt-type="revolving-door-left"] figcaption {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: perspective(1300px) rotateY(180deg);
              transform: perspective(1300px) rotateY(180deg);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
   
    .effeckt-caption[data-effeckt-type="revolving-door-left"]:hover figcaption, .effeckt-caption[data-effeckt-type="revolving-door-left"]:active figcaption, .effeckt-caption[data-effeckt-type="revolving-door-left"].active figcaption {
      -webkit-transform: perspective(1300px) rotateY(0deg);
              transform: perspective(1300px) rotateY(0deg); }
   
    .effeckt-caption[data-effeckt-type="revolving-door-right"] figcaption {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: perspective(1300px) rotateY(180deg);
              transform: perspective(1300px) rotateY(180deg);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .effeckt-caption[data-effeckt-type="revolving-door-right"]:hover figcaption, .effeckt-caption[data-effeckt-type="revolving-door-right"]:active figcaption, .effeckt-caption[data-effeckt-type="revolving-door-right"].active figcaption {
      -webkit-transform: perspective(1300px) rotateY(360deg);
              transform: perspective(1300px) rotateY(360deg); }
    
    .effeckt-caption[data-effeckt-type="revolving-door-top"] figcaption {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: perspective(1300px) rotateX(180deg);
              transform: perspective(1300px) rotateX(180deg);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
   
    .effeckt-caption[data-effeckt-type="revolving-door-top"]:hover figcaption, .effeckt-caption[data-effeckt-type="revolving-door-top"]:active figcaption, .effeckt-caption[data-effeckt-type="revolving-door-top"].active figcaption {
      -webkit-transform: perspective(1300px) rotateX(360deg);
              transform: perspective(1300px) rotateX(360deg); }
   
    .effeckt-caption[data-effeckt-type="revolving-door-bottom"] figcaption {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      -webkit-transform: perspective(1300px) rotateX(180deg);
              transform: perspective(1300px) rotateX(180deg);
      -webkit-backface-visibility: hidden;
              backface-visibility: hidden; }
    
    .effeckt-caption[data-effeckt-type="revolving-door-bottom"]:hover figcaption, .effeckt-caption[data-effeckt-type="revolving-door-bottom"]:active figcaption, .effeckt-caption[data-effeckt-type="revolving-door-bottom"].active figcaption {
      -webkit-transform: perspective(1300px) rotateX(0deg);
              transform: perspective(1300px) rotateX(0deg); }
    
  
    .effeckt-caption[data-effeckt-type="offset"] figcaption {
      top: 0;
      left: 0;
      text-align: center;
      opacity: 0;
      height: 100%; }
    .effeckt-caption[data-effeckt-type="offset"] img {
      transition: 500ms; }
    .effeckt-caption[data-effeckt-type="offset"]:hover figcaption, .effeckt-caption[data-effeckt-type="offset"]:active figcaption, .effeckt-caption[data-effeckt-type="offset"].active figcaption {
      -webkit-transform: translate(15px, 15px);
          -ms-transform: translate(15px, 15px);
              transform: translate(15px, 15px);
      opacity: 1;
      z-index: 100;
      overflow: hidden; }
  
    .effeckt-caption[data-effeckt-type="guillotine-reverse"] figcaption {
      top: 0;
      left: 0;
      text-align: center;
      height: 100%; }
     
 
			  
			  
			  
  .effeckt-caption[data-effeckt-type="half-slide"] figcaption {
    top: 0;
    left: 0;
    text-align: center;
    height: 100%;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%); }
  .effeckt-caption[data-effeckt-type="half-slide"] img{
    display: block;
    position: relative;
    transition: 500ms; }
	
	
  .effeckt-caption[data-effeckt-type="half-slide"]:hover img, .effeckt-caption[data-effeckt-type="half-slide"]:active img, .effeckt-caption[data-effeckt-type="half-slide"].active img {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%); }
			
  .effeckt-caption[data-effeckt-type="half-slide"]:hover .cashbk-strip, .effeckt-caption[data-effeckt-type="half-slide"]:active .cashbk-strip, .effeckt-caption[data-effeckt-type="half-slide"].active .cashbk-strip {
    -webkit-transform: translateY(-600%);
        -ms-transform: translateY(-600%);
            transform: translateY(-600%); }
			
  .effeckt-caption[data-effeckt-type="half-slide"]:hover .red-themes-ic, .effeckt-caption[data-effeckt-type="half-slide"]:active .red-themes-ic, .effeckt-caption[data-effeckt-type="half-slide"].active .red-themes-ic {
    -webkit-transform: translateY(-600%);
        -ms-transform: translateY(-600%);
            transform: translateY(-600%); }
/* special offer sec */
.effeckt-caption[data-effeckt-type="half-slide"]:hover .sp-ofr-ic, .effeckt-caption[data-effeckt-type="half-slide"]:active .sp-ofr-ic, .effeckt-caption[data-effeckt-type="half-slide"].active .sp-ofr-ic {
    -webkit-transform: translateY(-800%);
        -ms-transform: translateY(-800%);
            transform: translateY(-800%); }
			
		
			
  .effeckt-caption[data-effeckt-type="half-slide"]:hover .half-sdd, .effeckt-caption[data-effeckt-type="half-slide"]:active .half-sdd, .effeckt-caption[data-effeckt-type="half-slide"].active .half-sdd {
    -webkit-transform: translateY(0%);
        -ms-transform: translateY(0%);
            transform: translateY(0%); }
			
  .effeckt-caption[data-effeckt-type="half-slide"]:hover figcaption, .effeckt-caption[data-effeckt-type="half-slide"]:active figcaption, .effeckt-caption[data-effeckt-type="half-slide"].active figcaption {
    -webkit-transform: translateY(42%);
        -ms-transform: translateY(42%);
            transform: translateY(42%); }




@media only screen and (max-width: 680px) {
.added-index-bt{
	text-align: left;
}
.col-xs-12.col-sm-6.col-md-3.col-lg-3.mar-bot-15-res.oadjdy {
    border-left: 0px dotted #b7b5b5;
    margin-bottom: 17px;
}

}
	 