@*
*@
@{
}

@inject IConfiguration Configuration
@model ZealTravel.Front.Web.Models.ForgotPassword
<div id="myModal2" class="modal">
    <div class="col-md-12 col-sm-12 col-xs-12 modal-content">
        <div class="col-md-12 col-sm-12 col-xs-12 m-top-20 font-15 eeq">
            <div class="col-md-6 col-sm-6 col-xs-10 offset-0" style="font-size: 18px; padding-top: 28px; padding-bottom: 12px;">Forgot Your Password?</div>
            <div class="col-md-4 col-sm-4 col-xs-2 text-right pad-btm offset-0"></div>
            <div onclick="closebut1()" class="col-md-2 col-sm-2 col-xs-2 close1 text-right" style="font-size: 25px; cursor: pointer;">×</div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 m-top-20 font-13" style="padding-bottom:10px;">Please enter your information below.</div>
        <div class="col-md-12 col-sm-12 col-xs-12 m-top-20">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", @id = "forgot-password-form" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control uiseinpt", @placeholder = "Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 m-top-20 text-center">
                    <button type="submit" class="btn sub-btn wcolor submit" style="background: #04c !important; color: #fff !important; font-size: 17px; padding: 11px 49px; box-shadow: 0px 0px 14px #0000005e; margin-bottom: 10px;">Submit</button>
                </div>
               
            }
            <span id="forgetagentpassspan"></span>
        </div>
    </div>
</div>