@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="container-fluid m-top-40" style="background: #fff; padding-bottom:50px;">
    <div class="mainhadsec">
        <h2 class="heading03 text-center">Our Services</h2>
    </div>
    <div class="container width80per" style="background: #fff;">
        <div class="mainhadsec">

            <section class="customer-logos slider">
                 <div class="text-center"><img src="/assets/img/flight.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/hotelslide.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/travel.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/park.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/meal.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/bus.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/car.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/lounge.png"><span class="bestdealcls">Best Deal</span></div>
                <div class="text-center"><img src="/assets/img/more-services.png"><span class="bestdealcls">Best Deal</span></div>
            </section>
        </div>
    </div>
</div>
<link href="/assets/css/ourServices.css" rel="stylesheet" />
<script src="/assets/js/ourServices.js"></script>