@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
<div class="col-md-12 col-sm-12 col-xs-12 offset-0">
    <div class="container-fluid mainfooterbg">
        <div class="minfoorerbox" style="padding: 22px 0 27px;">
        </div>
        <div class="container-fluid offset-0">
            <div class="col-md-12 col-xs-12 offset-0 lisnavoxb">
                <div class="col-md-12 col-xs-12 offset-0 mobdebnon">
                    <div class="minfoorerbox width80per">
                        <div class="fooleftlink col-md-7 col-xs-12 offset-0">
                            <ul class="list-unstyled hoz" style="float: left;">
                                <li><a href="/about-us">About Us</a></li>
                                <li><a href="/contact-us">Contact Us</a></li>
                                <li><a href="/bank-details">Bank Details</a></li>
                                <li><a href="/privacy-policy">Privacy Policy</a></li>
                                <li><a href="/terms-conditions">Terms & Conditions</a></li>
                                <li><a href="/disclaimer">Disclaimer</a></li>
                            </ul>
                        </div>
                        <div id="Footer_divSocialMedia" class="col-md-3 col-xs-12">
                            <ul class="list-unstyled1 hoz" style="float:right;">
                                <li><a href="#"> <i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid offset-0 width80per">
            <div class="minfoorerbox">
                <div class="fooleftlink col-md-7 col-xs-12 foterlogodv">
                    <p class="payictxt">Supported Payment Methods</p>
                    <ul class="list-unstyled2 hoz" style="float: left;">
                        <li><span class="imageiconbx" style="background-position: 0 -600px;"></span></li>
                        <li><span class="imageiconbx" style="background-position: 0 -650px;"></span></li>
                        <li><span class="imageiconbx" style="background-position: 0 -700px;"></span></li>
                        <li><span class="imageiconbx" style="background-position: 0 -750px;"></span></li>
                        <li><span class="imageiconbx" style="background-position: 0 -800px;"></span></li>
                        <li><span class="imageiconbx" style="background-position: 0 -850px;"></span></li>
                    </ul>
                </div>
                <div class="col-md-3 col-xs-12">
                    <div class="pb-secured-by">
                        <div>
                            <p class="payictxt">Secured By</p>
                            <div class="payment-methods-type">
                                <ul class="paytyp">
                                    <li><span class="imageiconbx trendmicro-card"></span></li>
                                    <li><span class="imageiconbx bit-card"></span></li>
                                </ul>
                            </div>
                        </div>
                        <div>
                            <p class="payictxt">Certified By</p>
                            <div class="certified-by">
                                <ul>
                                    <li><span class="imageiconbx pcidds"></span></li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid offset-0 width80per">
            <div class="minfoorerbox">
                <div class="fooleftlink col-md-8">
                    <p class="margtiopdvqw">@Configuration["Company:companytm"]</p>
                </div>
                <div class="col-md-2 offset-0">
                    <div class="indbxdv">
                        <img src="/assets/img/indflag.svg" class="imagemade" />
                        <p class="text-center margtiopdv boxdrty">Made with <i class="fa fa-heart" style="color:red;"></i> in India</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
