 @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="cell">
    <div class="container">
        <div class="row">

            <div class="hidden-xs">
                <div style="margin-top:125px"></div>
            </div>
            <div class="col-md-12 col-xs-12 form-group margnehtop">
                <div class="col-md-12 col-xs-12 offset-0">
                    <div class="mymaindivico">
                        <ul>
                            <li id="fls" role="presentation" class="active text-center" data-title="flight">
                                <a id="f1" class="text-center" href="#flight" data-toggle="tab" aria-controls="home" aria-expanded="true" onclick="flightsearch_1();">
                                    <img src="~/Design/img/visa1.png" alt="Flights" />
                                    Flights
                                </a>
                            </li>

                            <li id="abcde" role="presentation" class="text-center" data-title="HOTELS">
                                <a id="f2" class="text-center" href="#HOTELS" data-toggle="tab" aria-controls="home" aria-expanded="true" onclick="HotelSearch();">
                                    <img src="~/Design/img/hotel1.png" alt="Hotels" />
                                    Hotels
                                </a>
                            </li>

                            <li role="presentation" class="text-center" id="toursbxdq" data-title="toursbxd">
                                <a href="#toursbxd" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                    <img src="~/Design/img/holiday1.png" alt="Holidays" /> Holidays
                                </a>
                            </li>

                            <li role="presentation" class="text-center" id="cartaxiidf" data-title="toursbxd">
                                <a href="#cartexidv" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                    <img src="~/Design/img/carto.png" alt="CarRent" /> CarRent
                                </a>
                            </li>

                            <li role="presentation" class="text-center" id="visadivid" data-title="VISA">
                                <a href="#VISA" data-toggle="tab" aria-controls="home" aria-expanded="true">
                                    <img src="~/Design/img/visaicon.png" alt="Visa" />
                                    Visa
                                </a>
                            </li>

                            <li role="presentation" class="text-center" id="groupookig" data-title="groupookig">
                                <a href="Group_Booking.aspx"><i class="fa fa-users iconbox"></i> Groups</a>
                            </li>

                            <li role="presentation" class="text-center" id="Holidays" data-title="Holidays">
                                <a href="Pkg_Query_Add.aspx"><i class="fa fa-map-signs iconbox"></i> Holidays</a>
                            </li>

                            <li role="presentation" class="text-center" id="HDepartures" data-title="HDepartures">
                                <a href="Depar_Hotel_list.aspx">
                                    <img src="~/Design/img/hotel1.png" alt="Departures" />
                                    Departures
                                </a>
                            </li>

                            <li role="presentation" class="text-center" id="FDepartures" data-title="FDepartures">
                                <a href="Departures.aspx">
                                    <img src="~/Design/img/visa1.png" alt="Departures" />
                                    Departures
                                </a>
                            </li>

                            <li role="presentation" class="text-center" id="FDepartures" data-title="FDepartures">
                                <a href="fareCalender.aspx">
                                    <i class="fa fa-calendar iconbox"></i>
                                    Calendar
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
