@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}



<div class="container-fluid offset-0">
    <div class="col-md-12 col-xs-12 offset-0">
        <div class="reasonwrapper panel-body offset-0">
            <div class="minreasonwrap width80per">
                <div class="col-md-12 col-xs-12 offset-0">
                    <div class="box-index1 resonbordx">
                        <div class="peraboxq">
                            <div class="font-14">REASON TO </div>
                            <div class="font-14">BOOK WITH US </div>
                        </div>
                    </div>
                    <div class="box-index2 resonbordx">
                        <div class="mainboxyed">
                            <div class="proimgreas bestprigua serrestobook"></div>
                        </div>
                        <a href="#" class="rexeuibox">
                            <div class="peraboxq">
                                <div class="font-14">BEST PRICE</div>
                                <div class="font-14">GUARANTEE</div>
                            </div>
                        </a>
                        <span class="morelinkbx"> <a href="#" class="morlinkqw"> more </a> </span>
                    </div>
                    <div class="box-index3 resonbordx">
                        <div class="mainboxyed">
                            <div class="proimgreas livechatsupp  serrestobook"></div>
                        </div>
                        <a href="#" class="rexeuibox">
                            <div class="peraboxq">
                                <div class=" font-14">24X7 LIVE CHAT</div>
                                <div class="font-14">SUPPORT</div>
                            </div>
                        </a>
                        <span class="morelinkbx"> <a href="#" class="morlinkqw"> more </a> </span>
                    </div>
                    <div class="box-index4 resonbordx">
                        <div class="mainboxyed">
                            <div class="proimgreas easytrans serrestobook"></div>
                        </div>
                        <a href="#" class="rexeuibox">
                            <div class="peraboxq">
                                <div class=" font-14">EASY/SECURE ONLINE</div>
                                <div class="font-14">TRANSACTION</div>
                            </div>
                        </a>
                        <span class="morelinkbx"> <a href="#" class="morlinkqw"> more </a> </span>
                    </div>
                @*     <%--                       <div class="col-md-2 col-xs-6 resonbordx">
                        <div class="mainboxyed">
                            <div class="proimgreas  serrestobook securetrans"></div>
                        </div>
                        <a href="#" class="rexeuibox">
                            <div class="peraboxq">
                                <div class=" font-14">SECURE ONLINE</div>
                                <div class="font-14">TRANSACTION</div>
                            </div>
                        </a>
                    </div>--%> *@
                    <div class="box-index5 resonbordx">
                        <div class="mainboxyed">
                            <div class="proimgreas guestrevrate serrestobook"></div>
                        </div>
                        <a href="#" class="rexeuibox">
                            <div class="peraboxq">
                                <div class=" font-14">GUEST REVIEWS</div>
                                <div class="font-14">& RATINGS</div>
                            </div>
                        </a>
                        <span class="morelinkbx"> <a href="#" class="morlinkqw"> more </a> </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
