@{
    Layout = "~/Views/Master.cshtml";
    ViewBag.Title = "Error";
}


<link href="/assets/css/error.css" rel="stylesheet" />


<div class="container-fluid offset-0">
    <div class="col-md-12 col-sm-12 col-xs-12 offset-0" style="background: #ecf0f5;">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12" style="min-height: 500px;">
                <div class="col-md-12 col-sm-12 col-xs-12 text-center" style="background: #fff;padding-bottom: 20px;margin: 2% 0%;padding: 13% 0%;">
                    <div class="">
                        <div class="opps">Internal Server Error</div><br />
                        <h4 style="font-size:18px;"> Sorry, there were some technical issues while processing your request.</h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
            </div>
        </div>
    </div>
</div>


