body {
    font-size: 12px !important;
}



.modal-content {
    margin: auto;
    width: 77%;
    max-width: 700px;
}

.panel-body1 {
    padding: 9px;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    text-align: left;
}

.popclo {
    color: #fff !important;
    opacity: 1 !important;
    top: 6% !important;
    left: 95% !important;
    font-size: 19px !important;
    font-weight: 100 !important;
}

.icon-cube {
    padding: 19px;
}

#cssmenu {
    float: right;
    margin-right: 0% !important;
    z-index: 999;
}

.log {
    position: absolute;
    margin-left: 94%;
    margin-top: 1.0%;
}

.cal-1 {
    background: #fff no-repeat scroll 96% center !important;
}

.cal-11 {
    background: #fff no-repeat scroll 96% center !important;
}

.dk {
    max-height: 359px;
    overflow-y: scroll;
}

.wrong {
    border: 1px solid #a94442 !important;
}

.dep {
    white-space: nowrap !important;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mc {
    padding: 10px !important;
    position: absolute !important;
    top: 0% !important;
    left: 94% !important;
    opacity: 1 !important;
    color: #f31b1b !important;
}

.wallet-img {
    padding-top: 8px;
    width: 33px;
}

.icon {
    width: 50%;
}

.modal {
    background-color: rgba(0, 0, 0, 0.28);
}

.main {
    margin-bottom: 10px;
    box-shadow: 0 0 8px 0 rgb(5 47 95 / 6%), 0 12px 64px 0 rgb(52 105 203 / 7%);
    border-radius: 4px;
    background: #fff;
}

.tabhad {
    color: #fff;
    background: #e94071;
    padding: 2px 10px !important;
    border-radius: 3px;
    font-size: 14px !important;
}

a {
    color: #2196f3;
}

body {
    font-family: Arial !important;
}



.mtoh {
    margin-top: 5px;
    font-weight: 600;
    font-size: 13px;
}

.mtoh1 {
    text-align: right;
    margin-top: 7px;
    margin-bottom: 5px;
}

.pophdi {
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 6px;
}

.row {
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.allhotdvcbx {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding-top: 5px;
    padding-bottom: 5px;
}

.alldvcbx {
    padding-bottom: 5px;
    padding-top: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.pisebf {
    text-align: center;
}

@media screen and (max-width: 680px) {
    #pendindbook {
        text-align: center;
    }

    #divDepartreurse {
        text-align: center;
    }

    #hotelpendingdiv {
        text-align: center;
    }

    #Pendindpaymentdiv {
        text-align: center;
    }

    .mobpadlr {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

    .mobpadlefrgh {
        padding-left: 0px;
        padding-right: 0px;
    }

}

@media all and (max-width: 880px) and (min-width: 700px) {

    .content-wrapper,
    .right-side,
    .topminhadd,
    .mainhadsec {
        width: 100% !important;
    }

    .minfoorerbox {
        width: 100% !important;
    }

    .fooleftlink {
        margin-left: 0%;
    }

    #google_translate_element {
        display: none;
    }

}